<div style="display: flex; flex-direction: column; justify-content: center; height: 100%;" class="background-circ-orange">
  <mat-card style="margin: auto; max-width: fit-content; opacity: 0.95; border-radius: 3%;">
    <div style="display: flex; width: 100%; justify-content: center; color: var(--dutchOrange)">
      <h2>Netherlands Tax Calculator</h2>
    </div>
    <mat-stepper orientation="vertical" #stepper style="border-radius: 3%;">
      <mat-step [stepControl]="dateFormGroup" style="padding-right: 36px !important;">
        <form [formGroup]="dateFormGroup">
          <ng-template matStepLabel>Year</ng-template>
            <app-date-picker (dateSelectedEvent) = "updateDate($event)"></app-date-picker>
          <div>
            <button mat-button mat-raised-button color="primary" style="background-color: var(--dutchOrange)" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="salaryFormGroup">
        <form [formGroup]="salaryFormGroup">
          <ng-template matStepLabel>Add your base salary</ng-template>
          <app-salary-picker (salaryValueUpdatedEvent)="updateSalaryValue($event)" (addHolidayAllowanceEvent)="updateAddHolidayAllowance($event)" (holidayAllowanceMonthlyEvent)="updateHolidayAllowanceMontly($event)" (applyThirtyRulingEvent)="updateThirtyRulingEvent($event)"></app-salary-picker>
          <div style="display: flex; gap: 12px; justify-content: space-between;">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button mat-raised-button color="primary" style="background-color: var(--dutchOrange)" matStepperNext>Get Results</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <app-calculation-results [selectedDate] = "selectedDate" [annualSalary]="salary" [addHolidayAllowance]="addHolidayAllowance" [holidayAllowanceMontly]="holidayAllowanceMontly" [addThirtyRuling]="addThirtyRuling"></app-calculation-results>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
