  <mat-stepper orientation="vertical" #stepper>
    <mat-step [stepControl]="dateFormGroup">
      <form [formGroup]="dateFormGroup">
        <ng-template matStepLabel>Year</ng-template>
          <app-date-picker></app-date-picker>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="salaryFormGroup">
      <form [formGroup]="salaryFormGroup">
        <ng-template matStepLabel>Add your base salary</ng-template>
        <app-salary-picker></app-salary-picker>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="allowanceFormGroup">
        <form [formGroup]="allowanceFormGroup">
          <ng-template matStepLabel>Add your additional allowances</ng-template>
          <app-allowance-picker></app-allowance-picker>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  