/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* CUSTOM STYLES */

.mat-vertical-content-container {
    margin-right: 36px !important;
}

:root {
    --dutchOrange: #FF9B00;
    --mdc-theme-primary: var(--dutchOrange);
}

 .mat-step-icon-selected {
    background-color: var(--dutchOrange) !important;
}

.mat-step-icon-state-edit {
    background-color: var(--dutchOrange) !important; 
}