<p>Please insert your annual salary</p>

<app-currency-input (valueUpdatedEvent)="updateSalaryValueEvent($event)" [initialValue]="initialSalary"></app-currency-input>

<section>
  <mat-checkbox [checked]="thirtyPercentChecked" [disabled]="thirtyPercentDisabled" (change)="updateApplyThirtyRuling($event)">
    Apply 30% ruling
  </mat-checkbox>
</section>


<section>
  <mat-checkbox [checked]="vakantiegeldIncludedChecked" [disabled]="vakantiegeldIncludedDisabled" (change)="updateAddHolidayAllowance($event)">
    Vakantiegeld included
  </mat-checkbox>
</section>

<section>
  <mat-checkbox [checked]="vakantiegeldMonthlyChecked" [disabled]="vakantiegeldMonthlyDisabled" (change)="updatHolidayAllowanceMonthly($event)">
    Vakantiegeld payed out monthly
  </mat-checkbox>
</section>
